<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>

        <link rel="stylesheet" type="text/css" href="https://basefront.brycejech.com/style/basefront.min.css" />
    </head>
    <body>
        {{{ body }}}
    </body>
</html>
