<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Small AF URLs</title>

        <link rel="stylesheet" type="text/css" href="https://basefront.brycejech.com/style/basefront.min.css" />
        <link rel="stylesheet" type="text/css" href="/style/main.min.css" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>
    <body>
        <div id="page-wrapper">
            <nav id="nav">
                <div class="nav-left">
                    <h1><a href="/"><i class="fas fa-link"></i> sml.af</a></h1>
                </div>
                <ul class="nav-right">
                    <li><a href="/#features">Features</a></li>
                    <li><a href="/#safety">Safety</a></li>
                </ul>
            </nav>

            {{{body}}}

        </div>

        <footer id="footer">
            <div class="u-cntr">
                <h3><i class="fas fa-code"></i> with <i class="far fa-heart"></i> by <a class="white-link" href="https://github.com/BryceJech" target="_blank" rel="external noopen nofollow">Bryce Jech</a></h3>
            </div>
        </footer>
    </body>
</html>
