<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Small AF URLs</title>

        <link rel="stylesheet" type="text/css" href="https://basefront.brycejech.com/style/basefront.min.css" />
        <link rel="stylesheet" type="text/css" href="/style/main.min.css" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>
    <body>
        <nav id="nav">
            <div class="nav-left">
                <i class="fas fa-link"></i><h1>sml.af</h1>
            </div>
            <ul class="nav-right">
                <li><a href="/#features">Features</a></li>
                <li><a href="/#safety">Safety</a></li>
            </ul>
        </nav>
        {{{body}}}
    </body>
</html>
