<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Small AF URLs</title>

        <link rel="stylesheet" type="text/css" href="https://basefront.brycejech.com/style/basefront.min.css" />
        <link rel="stylesheet" type="text/css" href="/style/main.css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>
