
<div id="createLinkWrapper" class="container container-lg card">
    <h1 class="u-cntr">Create a Small AF Link</h1>
    <div class="row">
        <form id="create-link-form" action="/api/link/" method="POST">
            <div id="link-wrapper">
                <input id="link-input" type="text" name="link" autocomplete="off" placeholder="Paste your link here" value="">
                <i id="link-icon" class="fas fa-link"></i>
            </div>
            <button id="submit-btn" type="submit" role="submit">S U B M I T</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    'use strict';

    (function(){

        const theForm   = document.getElementById('create-link-form'),
              linkInput = document.getElementById('link-input');

        theForm.addEventListener('submit', function(e){
            e.preventDefault();

            var isValid = _validateLink(linkInput.value);

            // TODO
            // - Pretty-fy message to user
            // - Submit request via AJAX
            if(!isValid.valid){
                alert('Link is not valid. ' + isValid.message);
            }
            else{
                alert('Link is valid, submitting.');
                theForm.submit();
            }
        })


        function _validateLink(link){
            // just ensure it looks a little like a link
            link = link.trim();
            if(!/^https?:\/\//.test(link)){
                return {
                    valid: false,
                    message: 'URL must begin with https:// or http://'
                }
            }
            else if(/^https?:\/\/.*\..*$/.test(link)){
                return {
                    valid: true,
                    message: 'URL is valid.'
                }
            }
            else{
                return {
                    valid: false,
                    message: 'URL did not pass validation.'
                }
            }
        }

    })();
</script>
