
<div class="container container-xl">
    <div class="row">
        <form action="/api/link/" method="POST">
            <input type="text" name="link" value="">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
