
<div id="createLinkWrapper" class="container container-lg">
    <h1 class="u-cntr">Create a Small AF Link</h1>
    <div class="row">
        <form action="/api/link/" method="POST">
            <input type="text" name="link" placeholder="Paste your link here" value="">
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>
</div>
